[Unit]
Description=Client for copter axshow

[Service]
User=root
WorkingDirectory=/etc/axshow/client/
ExecStart=/usr/bin/python3 main.py

[Install]
WantedBy=multi-user.target
